<ol class="breadcrumb">
  <li><a href="#">Logistica</a></li>
  <li class="active">Registrar Cotización</li>
</ol>

<div uib-alert class="alert-success" ng-show="c.success == 1">Se registró la nueva cotización</div>
<div uib-alert class="alert-success" ng-show="c.success == 2">Se actualizó correctamente la Cotización</div>

<div class="page-header">
  <h1>
    Listado de Cotización
    <div class="pull-right">
      <button class="btn btn-default btn-sm" ui-sref="app.cotizacion.form">Nuevo</button>
      <button class="btn btn-warning btn-sm">Salir</button>
    </div>
  </h1>
</div>

<div class="dashboard-title">
  <div class="row">
    <div class="col-xs-6">
      <h4>Fecha: <span class="gris">{{ c.currentDate | date: 'dd/MM/yyyy' }}</span></h4>
      <h4>Número de Cotizaciones: <span class="gris">{{ c.cotizaciones.length }}</span></h4>
    </div>
    <div class="col-xs-6">
      <form>
        <div class="form-group">
          <label class="sr-only" for="search">Buscar Cotización</label>
          <div class="input-group col-xs-12">
            <input type="text" class="form-control" id="search" ng-model="c.q" placeholder="Buscar Cotización">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="dashboard-body">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Código</th>
      <th>Generado por</th>
      <th>Proveedor</th>
      <th>Fecha de Validez</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cotizacion in c.cotizaciones | filter:c.q">
        <td>{{ cotizacion.numero }}</td>
        <td>{{ cotizacion.personal }}</td>
        <td>{{ cotizacion.proveedor | date: 'dd/MM/yyyy' }}</td>
        <td>{{ cotizacion.fecha | date: 'dd/MM/yyyy' }}</td>
        <td>{{ cotizacion.estado }}</td>
        <td>
          <button class="btn btn-default btn-sm" ui-sref="app.cotizacion.edit({id: cotizacion.numero})">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



