<ol class="breadcrumb">
  <li><a href="#">Logistica</a></li>
  <li><a ui-sref="app.cotizacion.dashboard">Registrar Cotización</a></li>
  <li class="active" ng-hide="n.edit">Nueva Cotización</li>
  <li class="active" ng-hide="!n.edit">Editar Cotización</li>
</ol>

<div class="page-header">
  <h1>
    <span ng-hide="n.edit">Nueva Cotización</span>
    <span ng-hide="!n.edit">Editar Cotización</span>
    <div class="pull-right">
      <button class="btn btn-warning btn-sm" ui-sref="app.cotizacion.dashboard">Salir</button>
    </div>
  </h1>
</div>

<form ng-submit="n.form.$valid && n.saveCotizacion()" name="n.form" novalidate>
  <div class="dashboard-title">
    <div class="row">
      <div class="col-xs-12" ng-class="{'col-sm-6': !n.edit, 'col-sm-4': n.edit}">
        <div class="form-group"
             ng-class="{'has-error has-feedback': (n.form.ruc.$dirty || n.form.$submitted) && n.form.ruc.$invalid}">
          <label class="control-label" for="ruc">RUC de Proveedor</label>
          <div class="input-group">
            <input type="text" class="form-control" id="ruc" name="ruc" placeholder="Ingrese RUC de Proveedor" disabled
                   ng-model="n.cotizacion.ruc" required>
            <div class="input-group-addon">
              <a ui-sref="app.cotizacion.solicitud" ng-hide="n.edit">Buscar Solicitud</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12" ng-class="{'col-sm-6': !n.edit, 'col-sm-4': n.edit}">
        <div class="form-group"
             ng-class="{'has-error has-feedback': (n.form.fecha.$dirty || n.form.$submitted) && n.form.fecha.$invalid}">
          <label class="control-label" for="fecha">Fecha</label>
          <input type="date" class="form-control" name="fecha" ng-model="n.cotizacion.created" id="fecha"
                 placeholder="Ingrese Fecha" required ng-disabled="n.edit">
          <span class="glyphicon glyphicon-remove form-control-feedback"
                ng-show="(n.form.fecha.$dirty || n.form.$submitted) && n.form.fecha.$invalid" aria-hidden="true"></span>
        </div>
      </div>
      <div class="col-xs-12" ng-class="{'col-sm-6': !n.edit, 'col-sm-4': n.edit}" ng-show="n.edit">
        <div class="form-group"
             ng-class="{'has-error has-feedback': (n.form.fecha.$dirty || n.form.$submitted) && n.form.fecha.$invalid}">
          <label class="control-label" for="estado">Estado</label>
          <select class="form-control" name="estado" ng-model="n.cotizacion.estado" id="estado"
                  ng-options="estado as estado for estado in ['Activo', 'Anulado']"></select>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="text-center">Cantidad</th>
        <th class="text-center">Descripción</th>
        <th class="text-center">Precio Unitario</th>
        <th class="text-center">Precio Total</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-show="n.cotizacion.productos.length" ng-repeat="p in n.cotizacion.productos">
        <td class="text-center">{{ p.cantidad }}</td>
        <td class="text-center">{{ p.descripcion }}</td>
        <td class="text-center">{{ p.precioUnitario | currency: 'S/. ' }}</td>
        <td class="text-center">{{ p.cantidad * p.precioUnitario | currency: 'S/. ' }}</td>
      </tr>
      <tr ng-show="!n.cotizacion.productos.length">
        <td colspan="4" class="text-center">
          <div class="alert alert-info" role="alert">Seleccione una Solicitud de Cotización</div>
        </td>
      </tr>
      <tr ng-show="n.cotizacion.productos.length">
        <td colspan="2"></td>
        <td class="text-center">Sub Total</td>
        <td class="text-center">{{ n.subtotal | currency: 'S/. ' }}</td>
      </tr>
      <tr ng-show="n.cotizacion.productos.length">
        <td colspan="2"></td>
        <td class="text-center">IGV</td>
        <td class="text-center">{{ n.subtotal * 0.18 | currency: 'S/. ' }}</td>
      </tr>
      <tr ng-show="n.cotizacion.productos.length">
        <td colspan="2"></td>
        <td class="text-center">Total</td>
        <td class="text-center">{{ (n.subtotal * 0.18) + n.subtotal | currency: 'S/. ' }}</td>
      </tr>
      </tbody>
    </table>

    <div class="clear-fix">
      <button class="btn btn-default pull-right" type="submit">{{n.actionText}}</button>
    </div>
  </div>
</form>
